/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    display: grid;
    min-height: 95vh;
    place-items: center;
    background-color: #1F2937;
    padding: 1rem;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width:650px;
    box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.27);
    border-radius: 0.25rem;
    padding: 0 1rem 1rem 1rem;
}

/* Set font for the body */
h1,h2, p {
    font-family: "Inter", sans-serif;
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    color:#e8e8e8;
    padding:1rem;
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
}

.header h1{
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
}

/* Hide the arrows inside the number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Hide arrows - FIREFOX browser */
input[type=number] {
    -moz-appearance: textfield;
}

/* Style the number input */
input[type=number] {
    height:3rem;
    width:5.5rem;
    padding:0.45rem;
    font-size:2rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #B295FF;
    border-radius: 0.5rem;
    background-color: #6943FF;
    outline: none;
    color:#e8e8e8;
    box-shadow: 2px 2px 14px 2px rgba(0,0,0,0.27);
    text-align: center;;
}

/* Style the button */
button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active{
    scale:0.8
}

/* CONVERTED PANEL STYLING */
/* Container */
.c0nverted{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    width: 100%;
}

/* Individual panels */
.converted{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    text-align: center;
    width: 100%;
    height:5rem;
    background-color: #273549;
    border-radius: 0.25rem;
}

.converted h2{
    font-size: 1.25rem;
    font-weight: 600;
    color: #CCC1FF;
    padding:1rem 0.5rem 0rem 0.5rem;
}

.converted p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #e8e8e8;
    padding: 0 0.5rem 0.5rem 0.5rem;
    width:100%;
    overflow-wrap: break-word;
    line-height: 1.25rem;
}

/* ADJUST WIDTH FOR SMALLER SCREENS */
@media screen and (max-width: 768px){
    main{
        width: 90%;
    }

    .converted{
        height: 6rem;
    }
}   

/* Adjust font-size on larger screens */
@media screen and (min-width: 768px){
    .header h1{
        font-size: 1.5rem;
    }

    .converted h2{
        font-size: 1.5rem;
    }

}